form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

button {
  background-color: #005273;
  border: 0;
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  max-width: 100px;
  padding: 5px 10px;
  cursor: pointer;
}
