form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: flex;
  flex-direction: column;
}

label.row input {
  width: auto;
}

input,
select,
textarea {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 4px 8px;
  font-size: 14px;
  width: 100%;
}

button {
  background-color: var(--tji-button-background-color);
  border: 0;
  color: var(--tji-button-text-color);
  text-transform: uppercase;
  border-radius: 0.25rem;
  max-width: 100px;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--tji-button-background-color-hovered);
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-bottom: 2px;
}