:host {
  display: block;
}

.notifications {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 10;
  align-items: flex-end;
}

.notification {
  --bg-color: #868e96;
  --fg-color: white;
  --bg-error: #e03131;
  --bg-success: #087f5b;
  display: flex;
  gap: 8px;
  color: var(--fg-color);
  padding: 10px;
  align-items: stretch;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: var(--bg-color);
  position: relative;
  animation: hide var(--timeout, 0s) linear;
  animation-fill-mode: forwards;
}

.notification::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: progress var(--timeout, 0s) linear;
  animation-fill-mode: forwards;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.notification[data-type='error'] {
  --bg-color: var(--bg-error);
}
.notification[data-type='success'] {
  --bg-color: var(--bg-success);
}

.notification p {
  margin: 0;
}

.notification button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
  color: currentColor;
}

.notification button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

[role='separator'] {
  width: 1px;
  background-color: currentColor;
  opacity: 0.2;
  margin-left: 4px;
}
