@import '~three-dots/dist/three-dots.min.css';

:host {
  display: block;
  font-family:
    Atlassian Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  margin-top: 30px;
  font-size: 14px;
  box-sizing: border-box;
  --primary-color: #005273;
  --accent-color: #2479aa;
  --heading-color: #6a737b;

  &[theme='jira-cloud'] {
    border: 1px solid var(--ds-border, #0b120e24);
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 8px;
    --panel-inline-padding: 12px;
    --panel-block-padding: 8px;
  }
}

#tj-panel {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--panel-block-padding, 5px) var(--panel-inline-padding, 20px);
  width: 100%;
  box-sizing: border-box;

  &[aria-hidden='true'] {
    display: none;
  }
}

.loader-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .loader,
  .loader::before,
  .loader::after {
    color: var(--primary-color);
    background-color: currentColor;
  }
}
