@import '~three-dots/dist/three-dots.min.css';

:host {
  display: block;
  font-family:
    Atlassian Sans,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  margin-top: 30px;
  font-size: 14px;
  box-sizing: border-box;

  /* Theme variables */
  --primary-color: #005273;
  --accent-color: #2479aa;
  --tji-primary-color: #005273;
  --tji-accent-color: #2479aa;
  --tji-background-color: light-dark(#fff, #181a1b);
  --tji-update-container-box-shadow-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  --tji-update-header-background: light-dark(#f8f8f8, #26292b);
  --tji-button-background-color: var(--tji-primary-color);
  --tji-button-background-color-hovered: var(--tji-accent-color);
  --tji-button-text-color: white;
  --tji-text-color-main: light-dark(black, white);

  &[theme='jira-cloud'] {
    overflow: hidden;
    border: 1px solid var(--ds-border, #0b120e24);
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: var(--ds-space-100, 8px);
    --tji-background-color: var(--ds-surface, #fff);
    --tji-panel-inline-padding: 12px;
    --tji-panel-block-padding: 8px;
    --tji-contextual-help-border-width: 0;
    --tji-update-header-background: light-dark(#f8f8f8, var(--ds-surface-overlay, #f8f8f8));
    --tji-button-background-color: var(--ds-background-brand-bold, #0052cc);
    --tji-button-background-color-hovered: var(--ds-background-brand-bold-hovered, #0065ff);
    --tji-button-text-color: var(--ds-text-inverse, #172b4d);
    --tji-text-color-main: var(--ds-text, #172b4d);
    --tji-text-color-secondary: var(--ds-text-subtle, #44546f);
    --tji-primary-color: var(--ds-text-selected, #0052cc);
    --tji-accent-color: var(--ds-link, #0c66e4);
  }
}

#tj-panel {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--tji-panel-block-padding, 5px) var(--tji-panel-inline-padding, 20px);
  width: 100%;
  box-sizing: border-box;

  &[aria-hidden='true'] {
    display: none;
  }
}

.loader-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .loader,
  .loader::before,
  .loader::after {
    color: var(--primary-color);
    background-color: currentColor;
  }
}
