footer {
  margin-top: 10px;
  color: var(--tji-text-color-secondary);
  font-size: 8px;
  display: flex;
  justify-content: space-between;
}

footer > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

footer p {
  margin: 2px;
}

footer a {
  margin: 0 2px 2px 2px;
  color: var(--tji-text-color-secondary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
