:host {
  display: block;
}

p {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
  width: fit-content;
}

.menuButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin: 0;
  color: #2886bb;
}

.server {
  margin: 5px 0;

  label {
    display: flex;
    flex-direction: column;
  }
}
